pipeline/pl_copy_from_emr.json
{
	"name": "pl_copy_from_emr",
	"properties": {
		"activities": [
			{
				"name": "If Condition2",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.Load_type,'Full' )",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "fetch_logs",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"query": {
										"value": "@concat(\n'select coalesce(cast(max(loaddate) as date), ''1900-01-01'') as last_fetched_date from audit_load_logs where datasource=''', \nitem().datasource, \n''' and tablename=''', \nitem().tablename, \n''''\n)",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "AzureDatabricksDeltaLakeDataset1",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "'aa'",
										"table_name": "'aa'"
									}
								}
							}
						},
						{
							"name": "incremental_load_CP",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "fetch_logs",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * ,''',item().datasource,''' as datasource from ',item().tablename,'where',item().watermark,'>= ''',activity('fetch_logs').output.firstRow.last_fetched_date,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "generic_sql_db_ds",
									"type": "DatasetReference",
									"parameters": {
										"db_name": {
											"value": "@item().database",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@split(item().tablename,',')[0]",
											"type": "Expression"
										},
										"table_name": {
											"value": "@split(item().tablename,',')[1]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "generic_adls_parquet_ds",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"file_path": {
											"value": "@item().targetpath",
											"type": "Expression"
										},
										"file_name": {
											"value": "@split(item().tablename,',')[1]",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "insert_logs_inc_load",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "incremental_load_CP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"query": {
										"value": "@concat('insert into audit.load_logs(data-source,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values (''',item().datasource,''',''',item().tablename,''',''',activity('incremental_load_CP').output.rowscopied,''',''',item().watermark,''',''',utcNow(),''')')",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "AzureDatabricksDeltaLakeDataset1",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "'aa'",
										"table_name": "'aa'"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "full_load_copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * ,''',item().datasource,''' as datasource from ',item().tablename)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "generic_sql_db_ds",
									"type": "DatasetReference",
									"parameters": {
										"db_name": {
											"value": "@item().database",
											"type": "Expression"
										},
										"schema_name": {
											"value": "@split(item().tablename,'.')[0]",
											"type": "Expression"
										},
										"table_name": {
											"value": "@split(item().tablename,'.')[1]",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "insert_logs_full_load",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "full_load_copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureDatabricksDeltaLakeSource",
									"query": {
										"value": "@concat(\r\n'insert into audit_load_logs(datasource,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values (''',\r\nitem().datasource,\r\n''',''',\r\nitem().tablename,\r\n''',''',\r\nstring(activity('full_load_copy').output.rowsCopied),\r\n''',''',\r\nitem().watermark,\r\n''',''',\r\nutcNow(),\r\n''')'\r\n)",
										"type": "Expression"
									}
								},
								"dataset": {
									"referenceName": "AzureDatabricksDeltaLakeDataset1",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "'aa'",
										"table_name": "'aa'"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Load_type": {
				"type": "string"
			},
			"databse": {
				"type": "string"
			},
			"tablename": {
				"type": "string"
			}
		},
		"annotations": []
	}
}